@import '../../styles/global_variable.scss';

.wrapper{
  background: white;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: 400;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 3px 1px -2px rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.14);
  padding: 0.8em 0.5em;
  color:$gray-darken-1;
  position: absolute;
  width: 100%;
  top: 1.1em;
  z-index: 800;
  // display: inline-block;
  li{
    font-size: 0.5em;
    cursor: pointer;
    &:hover {
      color:$gray;
    }
  }
}