$main_light_teal:#80cbc4;
$main_teal: #1fa0b1;
$main_dark_teal:#004d40;
$main_darkest_teal: #0b2d2c;
$sub_blue: #1d3d7d;
$sub_light_blue:#7cd1ff;
$complementary_pink: #f9836b;
$blue-grey: #455a64;
$gray:#9e9e9e;
$gray-darken-1: #757575;
$gray-darken-2: #616161;
$gray-darken-3: #424242;
$gray-lighten-1:#9e9e9e;
$gray-lighten-2:#e0e0e0;
$gray-lighten-3:#eeeeee;
