@import '../styles/global_variable.scss';
.headWrapper {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  width: 100vw;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  text-decoration: none;
  font-weight: bold;
  span {
    color: #f4e7da;
  }
}

.langTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.languageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.languageText {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 0.7em;
  margin: auto 1em;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .headWrapper {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
  }
  .languageText {
    color: #0b2d2c;
    font-weight: bold;
  }
}

@media screen and (max-width: 700px) {
  .languageText {
    font-size: 0.6em;
    color: $gray-darken-2;
  }
  .headerText {
    font-size: 0.8em;
    span {
      color: $gray-darken-2;
    }
  }
  .langTextWrapper{
    color: $gray-darken-2;
  }
  .headWrapper {
    background:rgba(255,255,255,0.8);
  }
}

// @media screen and (max-width: 400px) {
//   .languageText {
//     font-size: 0.5em;
//     color: $gray-darken-2;
//   }
//   .headerText {
//     font-size: 0.6em;
//     span {
//       color: $gray-darken-2;
//     }
//   }
//   .headWrapper {
//     background: #80cbc4;
//   }
// }
